{% extends "/layouts/layout.html" %}
{% block content %}
<div class="container" style="width:350px;">
    <div class="box_card">
        <div style="background-color:white;border-top-right-radius: 9px;border-top-left-radius:9px">
            <div class="row" style="padding-top:5px;margin-left:5px;margin-right:10px;">
                <div class="pull-left" style="margin-left: 15px;">
                    <h1 class="sub_title_no_underline" style="margin-top:8px;background-color:white;"><img src="{{ url_for('static', filename='images/gear.png') }}" alt="Clock" height="36" width="36" style="position: relative; top:-5px; left: -10px;">My Tableau Extensions</h1></div>
            </div>
        </div>        
        <div class="box_body_footer "></div>
    </div>
</div> {% endblock %}