<!doctype html>
<html lang="en">
<head>
    <title>My Tableau Extensions</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{ url_for('static',filename='javascript/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/toastr.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/tableau-extensions-0.12.7.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/flask_extensions.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/application.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/toastr.css') }}">
</head>
<body>
{% block content %}{% endblock %} 
</body>
</html>